/* app  */
.App {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* app container */
.container {
  border-radius: 20px;
  background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  -webkit-box-reflect: below 5px
    linear-gradient(transparent, transparent, #0004);
  box-shadow: inset 0px 0px 20px 3px rgb(0 0 0 / 66%);
}
