.display {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display_contant {
  width: 200px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1517646331032-9e8563c520a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnwzNjkxOTY5fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  border: 1px solid black;
  border-radius: 2%;
  display: flex;
}
