/* lower container */
.menu {
  width: 230px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* wheel  */
.circle {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
}

/* menu button */
.menu_btn {
  width: 20px;
  height: 20px;
  position: relative;
  top: -36px;
  left: 48px;
}

/* menu class contain button */
.menu button {
  background: none;
  border: none;
}

/* center circle */
.center_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgrey;
  position: relative;
  top: 50px;
  left: 50px;
}

/* forward button */
.next_btn {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;
  left: 112px;
  top: -7px;
}

/* prev button */
.prev_btn {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;
  left: 8px;
  top: -25px;
}

/* pause button */
.pause_btn {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;
  top: 4px;
  left: 60px;
}
