body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  border-radius: 20px;
  background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  -webkit-box-reflect: below 5px
    linear-gradient(transparent, transparent, #0004);
  box-shadow: inset 0px 0px 20px 3px rgb(0 0 0 / 66%);
}

.menu {
  width: 230px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
}
.menu_btn {
  width: 20px;
  height: 20px;
  position: relative;
  top: -36px;
  left: 48px;
}
.menu button {
  background: none;
  border: none;
}

.center_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgrey;
  position: relative;
  top: 50px;
  left: 50px;
}
.next_btn {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;
  left: 112px;
  top: -7px;
}
.prev_btn {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;
  left: 8px;
  top: -25px;
}
.pause_btn {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;
  top: 4px;
  left: 60px;
}
.display {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display_contant {
  width: 200px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1517646331032-9e8563c520a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnwzNjkxOTY5fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  border: 1px solid black;
  border-radius: 2%;
  display: flex;
}

.display_default {
  width: 100px;
  height: 200px;
  padding-left: 10px;
  background-color: white;
}

.display_default ul {
  list-style: none;
  padding-left: 0;
  font-weight: 600;
}
.display_default ul li {
  margin-top: 4px;
  padding: 2px;
}

.pending {
  width: 200px;
  height: 200px;
  background-color: #6fc0e0;

  /* background-image: url("https://images.unsplash.com/photo-1611517976630-163467322778?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Z2FtZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-direction: column;
}
